
.button__container {
  margin-top: 20px;
  text-align: center;
}
.button {
  background-color:green;
  border: none;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 200px;
}
body {
  margin: 20px;
}
.progress {
  margin: 10px;
}
#fireProductionButton {
  margin-top: 20px;
  margin-bottom: 20px;
}
.serverReachable {
  color: #5cb85c;
}
.serverNotReachable {
  color: #c9302c;
}
table.table-bordered{
    border:0.5px solid #a0a0a0;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:0.5px solid #a0a0a0;
}
table.table-bordered > tbody > tr > td{
    border:0.5px solid #a0a0a0;
}
#serverConnection {
    text-align: center;
}
.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}